
:root{
    --text-color: #444444;
    --bg: rgba(42, 44, 57, 0.9);
    --heading-text-font:'Raleway', sans-serif;
    --margin: 1.5rem;
    --line-height: 1.5;
    --white: white;
    --orange: #fd7e14;
    --round: 1rem; 
    --transition: all .5s;
}

/*RESET*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

@media (max-width: 768px) {
    html{
       overflow-x: hidden !important;
    }
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}


/*HEADER-CONTACT*/

.header-contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(46, 48, 60, 0.9);
    height: 35px;
    overflow: hidden;
}

.email-phone{
    display: flex;
}

.email{
    display: flex;
    align-items: center;
    transition: var(--transition);
}

div.email a{
    text-decoration: none;
    color: var(--white);
    transition: var(--transition);
}


.number{
    display: flex;
    align-items: center;
    margin-left: 2rem;
    transition: var(--transition);
}

.email span, .number span{
    margin-left: 0.3rem;
    font-size: 14px;
    line-height: var(--line-height);
    color: var(--white);
}

.email i, .number i{
    font-size: 20px;
    color: var(--white);
    transition: var(--transition);
}

.email:hover i, .number:hover i, div.email a:hover{
    color: var(--orange);
}

div.socials{
    margin-right: 1rem;
}

div.socials a, div.socials li{
    text-decoration: none;
    color: var(--white);
    margin-left: 2rem;
    transition: var(--transition);
}

div.socials a:hover{
    color: var(--orange);
}

@media (max-width: 575px) {
    div.socials {
       display: none;
    }

    .email i, .number i {
        font-size: 15px;
    }

    .email span, .number span {
        font-size: 12px;
    }
}


/*HEADER/NAV-BAR*/

.nav-bar{
    display: flex;
    align-items: center;
    height: 70px;
    background: var(--bg);
    justify-content: space-around;
    overflow: hidden;
}

.animated-icon{
    position: absolute;
}

nav ul{
    display: flex;
}

nav li{
    list-style-type: none;
    margin-left: 2rem;
}

nav li a{
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    padding: 5px 15px 7px 15px;
    border-radius: var(--round);
    transition: var(--transition);
}

nav li a:active{
    background-color: var(--orange);

}

nav li a:hover{
    background-color: var(--orange);
}


/* HAMBURGER ICON */

#nav-icon1{
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon1 span{
    display: none;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 18px;
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 36px;
  }
  
  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }



@media (max-width: 768px) {
    .animated-icon{
        position: static;
        z-index: 99;
    }

    .nav-bar {
        justify-content: space-between;
    }

    .logo{
        margin-left: 1rem; 
     }
 
     .mobile-nav-toggle{
         margin-right: .1rem;
     }

     nav .mobile-nav-toggle {
        display: block;
      }
      
      nav ul {
        display: none;
      }

      #nav-icon1 span {
        height: 4px;
        width: 50%;
        background: var(--white);
        display: block;
    }

    #nav-icon1 span:nth-child(3) {
        top: 25px;
    }

    #nav-icon1 span:nth-child(1) {
        top: 7px;
    }

    #nav-icon1 span:nth-child(2) {
        top: 16px;
    }

    .animated-icon{
        margin-right: -1rem;
    }

    #nav-icon1{
        height: 31px;
    }

    .animated-icon {
        margin-right: -1rem;
        z-index: 9999;
        position: relative;
    }
}


@media (max-width: 575px) {
    .nav-bar {
        justify-content: space-between;
    }

    .logo{
       margin-left: 1rem; 
    }

    .mobile-nav-toggle{
        margin-right: .1rem;
    }

    nav .mobile-nav-toggle {
        display: block;
      }

      #nav-icon1 span {
        height: 4px;
        width: 50%;
    }

    #nav-icon1 span:nth-child(3) {
        top: 25px;
    }

    #nav-icon1 span:nth-child(1) {
        top: 7px;
    }

    #nav-icon1 span:nth-child(2) {
        top: 16px;
    }

    #nav-icon1{
        height: 31px;
    }
  
}



/*MOBILE NAV*/
@media (max-width: 768px) {
    .navbar-mobile {
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(56, 61, 97, 0.9);
        transition: 0.3s;
        z-index: 999;
    }

    .ul-nav {
        display: block;
        position: absolute;
        top: 99px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        padding: 10px 0;
        border-radius: 10px;
        background-color: #fff;
        overflow-y: auto;
        transition: 0.3s;
        width: 90%;
        height: 50%;
    }


    nav ul li{
        color: black;
        padding: 10px 20px;
        margin: 15px;
        font-size: 15px;
        color: #2a2c39;
        margin-bottom: .5em;
    }

    nav ul li a{
        color: black;
    }

    nav ul li a:active{
        background-color: var(--orange);
        padding-right: 86%;
    }
}

@media (max-width: 575px) {
    .ul-nav {
        width: 90%;
    }
}

  

/*HERO-SECTION*/

/*SVG ANIMATION*/

.wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
        animation-name: move-forever1;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
        animation-name: move-forever2;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
        animation-name: move-forever3;
        animation-duration: 6s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

@keyframes move-forever1{
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever2{
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever3{
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

/*SVG ANIMATION END*/

section{
    overflow: hidden;
}

div.hero{
    background-image: url(./assets/sebastian-herrmann-Sr1xHcs6ic8-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.hero-waves{
    display: block;
    width: 100%;
    height: 120px;
    position: relative;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
}

.text-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.text-wrapper p{
    width: 60%;
    color: var(--white);
}

.text-wrapper h1{
    margin-bottom: 30px;
    font-size: 48px;
    font-family: var(--heading-text-font);
    color: var(--white);
}

/*SECOND SECTION*/

div.who-we-are h3:first-child{ 
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

div.who-we-are h3:first-child::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #fd9042;
    margin: 4px 10px;
}

div.who-we-are h3:last-child{
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #2a2c39;
}

.who-we-are{
    padding-bottom: 40px;
}

.about-section{
    padding: 100px 0;

}

.about-wrapper{
    max-width: 1340px;
    margin-right: auto;
    margin-left: auto;
}

.about-info{
    display: flex;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
    padding-left: 1rem;
}

div.about-info p{
    margin-bottom: 1rem;
    line-height: var(--line-height);
}

.info-sec1{
    width: 50%;
}

.info-sec1 li{
    padding-left: 28px;
    position: relative;
    list-style-type: none;
}

.info-sec1 li i{
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #ef6603;
    line-height: 1;
}

.info-sec1 li + li{
    margin-top: 10px;
}

.info-sec2{
    width: 50%;
    margin-left: 5rem;
}

.info-sec2 a{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #ef6603;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #ef6603;
    text-decoration: none
}

@media (max-width: 768px) {
    .info-sec2 {
        width: 95%;
        margin-left: .2rem;
    }

    .about-info {
        flex-direction: column;
    }

    .info-sec1 {
        width: 95%;
        padding-left: 0.7rem;
        margin-bottom: 1.5rem;
    }

    .who-we-are {
        padding-bottom: 40px;
        padding-left: .7rem;
        width: 95%;
    }

    .about-section {
        padding: 40px 0;
    }

    section.features {
        padding: 40px 0;
    }
  }
  
  @media (max-width: 575px) {

    .info-sec2 {
        width: 95%;
        margin-left: .2rem;
    }

    .about-info {
        flex-direction: column;
    }

    .info-sec1 {
        width: 95%;
        padding-left: 0.7rem;
        margin-bottom: 1.5rem;
    }

    .who-we-are {
        padding-bottom: 40px;
        padding-left: .7rem;
        width: 95%;
    }

    .about-section {
        padding: 40px 0;
    }

    section.features {
        padding: 40px 0;
    }

  }

/*FEATURES*/

.feature-active{
    background: var(--orange);
    color: var(--white);
}

section.features{
    width: 100%;
    padding: 150px 0;
}

.feature-wrapper{
    max-width: 1340px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.feature-cards{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border: 0;
    justify-content: space-between;
}

ul.feature-cards li {
    text-decoration: none;
    list-style-type: none;
}


.flex-item{
    flex: 0 0 auto;
    width: 25%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
    cursor: pointer;
}

.flex-item a:hover{
    color: var(--orange);
}

.flex-link{
    padding: 30px 15px;
    transition: 0.3s;
    color: #2a2c39;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
    border-radius: 10px;
    background: #fff;
}

.flex-link i{
    padding-right: 15px;
    font-size: 48px;
}

.flex-link h4{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

@media (max-width: 768px) {
  .features .flex-link i {
    padding: 0;
    line-height: 1;
    font-size: 36px;
  }

  .flex-link h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    display: none;
}

.feature-cards{
    justify-content: space-around;
}
}

@media (max-width: 575px) {
    .flex-link h4 {
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        display: none;
    }

    .feature-cards{
        justify-content: space-around;
    }
}


.tab-content{
    width: 100%;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
    margin-top: 70px;
}

div.tab-row{
    display: none;
    max-width: 1340px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.row{
    flex: 0 0 auto;
    width: 50%;
    padding-left: 0.8rem;
}

.row h3{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.row p{
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: var(--line-height);
}

.row ul{
    margin-top: 0;
    margin-bottom: 1rem;
}

.row ul li{
    padding-bottom: 10px;
}

.row img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.first-row{
    margin-right: 5rem;
}

div.tab-content .active{
    display: flex;
}

@media (max-width: 768px) {
    div.tab-content .active {
        flex-direction: column-reverse;
    }

    .row {
        flex: 0 0 auto;
    width: 90%;
    padding-left: 3.5rem;
    }

   .tab-row-image{
        text-align: center;
    }

    section.features {
        padding: 80px 0;
    }
  }
  
  @media (max-width: 575px) {
    div.tab-content .active {
        flex-direction: column-reverse;
    }

    .row {
        flex: 0 0 auto;
        width: 90%;
        padding-left: 2.5rem;
    }

    .tab-row-image{
        text-align: center;
    }

    .tab-row-image img{
        width: 90%;
        margin-bottom: 3rem;
    }

    .features .flex-link i {
        font-size: 29px;
    }

    section.features {
        padding: 80px 0;
    }
  }




/*CALL TO ACTION*/
.cta{
    background: #2a2c39;
    padding: 80px 0;
    box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
}

.cta-container{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    max-width: 1340px;
}

.cta-wrapper{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.cta-text{
    flex: 0 0 auto;
    width: 70%;
}

.cta-text h3{
    color: var(--white);
    font-size: 28px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}

.cta-text p{
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--white);
}

.btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 auto;
    width: 25%;
}

.cta-btn{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: var(--white);
    background: #ef6603;
    text-decoration: none;
}

.cta-btn:hover{
    background: var(--white);
    color: var(--orange);
}

@media (max-width: 768px) {
    .cta-wrapper {
        flex-direction: column;
    }

    .btn-wrapper {
        justify-content: center;
        width: 95%;
    }

    .cta-text {
        width: 95%;
        text-align: center;
        padding-left: .3rem;
    }

    .cta-text p {
        width: 95%;
    }

    .cta-text h3 {
        margin-bottom: .5rem;
        width: 95%;
    }
}
  
@media (max-width: 575px) {
    .cta-wrapper {
        flex-direction: column;
    }

    .btn-wrapper {
        justify-content: center;
        width: 95%;
    }

    .cta-text {
        width: 95%;
        text-align: center;
        padding-left: .3rem;
    }

    .cta-text p {
        width: 95%;
    }

    .cta-text h3 {
        margin-bottom: .5rem;
        width: 95%;
    }
}


/*SERVICES*/

.services{
    padding: 100px 0;
}

.services-container{
    max-width: 1040px;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

.services-title{
    padding-bottom: 40px;
}

.services-title h2{
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.services-title h2::after{
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #fd9042;
    margin: 4px 10px;
}

.services-title p{
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #2a2c39;
}

.services-description{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-direction: column;
     margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
    max-width: 1340px;
}

.services-cards{
    flex: 0 0 auto;
    width: 33.3333333333%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
}

.card-items{
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.4s ease-in-out;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    width: 100%;
    height: 100%;
}

div.card-items h4 a{
    text-decoration: none;
    color: var(--text-color);
}

div.card-items p{
    width: 82%;
    margin: auto;
}

.icon{
    position: absolute;
    left: -20px;
    top: calc(50% - 45px);
}

.icon i{
    font-size: 64px;
    line-height: 1;
    transition: 0.5s;
}

section.services .title{
    margin-left: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    line-height: 1.2;
    margin-top: 0;
}

section.service .description{
    font-size: 14px;
    margin-left: 50px;
    line-height: 24px;
    margin-bottom: 0;
}

.services-cards-sec1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.services-cards-sec2{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .services {
        padding: 50px 0;
    }

    .services-cards {
        width: 86%;
        margin-bottom: 2rem;
    }

    .services-cards-sec1 {
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-cards-sec2 {
        flex-direction: column;
    }

    div.card-items p {
        width: 87%;
        margin: auto 3rem;
    }

    .services-title p {
        width: 90%;
    }

}
  
@media (max-width: 575px) {
    .services {
        padding: 50px 0;
    }

    .services-cards {
        width: 73%;
        margin-bottom: 2rem;
    }

    .services-cards-sec1 {
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-cards-sec2 {
        flex-direction: column;
    }

    div.card-items p {
        width: 87%;
        margin: auto 3rem;
    }

    .services-title p {
        width: 90%;
    }

}

/*CONTACT FORM*/


.name-email h2{
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.contact-head h2::after{
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #fd9042;
    margin: 4px 10px;

}

.contact-head p{
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #2a2c39;
}

.contact-container{
    max-width: 1340px;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    padding-top: 150px;
}

.contact-form{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
    margin-top: 3rem;
}

.contact-address{
    flex: 0 0 auto;
    width: 33.3333333333%;
}

div.contact-address .info{
    width: 100%;
    background: #fff;
}

.phone, .contact-email{
    margin-top: 40px;
}

.contact .info i{
    font-size: 20px;
color: #ef6603;
float: left;
width: 44px;
height: 44px;
background: #ffecde;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50px;
transition: all 0.3s ease-in-out;
}

.contact .info h4{
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2a2c39;
}

.contact .info p{
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #555974;
    margin-top: 0;
}

.contact-fields{
    flex: 0 0 auto;
    width: 66.6666666667%;
    margin-top: 0;
}

form{
    width: 100%;
}

.name-email{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
}

.contact-name{
    flex: 0 0 auto;
    width: 50%;
}

.contact-email{
    flex: 0 0 auto;
    width: 50%;
}

div.name-email.name{
    flex: 0 0 auto;
    width: 50%;
    padding-bottom: 8px;
}

.name-input{
    height: 44px;
    display: block;
    width: 95%;
    padding: .375rem .75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.email-input{
    height: 44px;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.email-address{
    margin-top: 40px;
}

div.name-email .contact-email{
    flex: 0 0 auto;
    width: 50%;
    padding-bottom: 8px;
    margin-top: 0;
}

.subject{
    margin-top: 1rem;
    padding-bottom: 8px;
}

.subject-input{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.text-area{
    margin-top: 1rem;
    padding-bottom: 8px;
}

.text-area-input{
    padding: 10px 12px;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    min-height: calc(1.5em + .75rem + 2px);
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.loading{
    margin-top: 1rem ;
    margin-bottom: 1rem ;
}

.error-message{
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.submit-btn{
    text-align: center;
}

button[type="submit"] {
    background: #ef6603;
    border: 0;
    padding: 15px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background: #d35b05;
}

@media (max-width: 768px) {
    .contact-form {
        flex-direction: column;
    }

    .contact-container {
        width: 94%;
        padding-top: 60px;
    }

    .contact-address {
        width: 95%;
        margin: auto;
        padding-bottom: 2.5rem;
    }

    .contact-fields {
        width: 95%;
        margin: auto;
    }
}


@media (max-width: 575px) {
    .contact-form {
        flex-direction: column;
    }

    .contact-container {
        width: 94%;
        padding-top: 60px;
    }

    .contact-address {
        width: 95%;
        margin: auto;
        padding-bottom: 2.5rem;
    }

    .contact-fields {
        width: 95%;
        margin: auto;
    }
}


/*FOOTER*/

footer{
    background: #14151c;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
    margin-top: 3rem;
}

.footer-container{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

footer img{
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
}

footer p{
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
}

footer .social-links{
    margin: 0 0 40px 0;
}

footer .social-links a{
    font-size: 18px;
    display: inline-block;
    background: #ef6603;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 18px;
    transition: 0.3s;
}

footer .copyright{
    margin: 0 0 5px 0;
}

footer .copyright strong{
    font-weight: bolder;
}

footer a{
    color: #ef6603;
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer-container {
        width: 95%;
    }
}


@media (max-width: 575px) {
    .footer-container {
        width: 95%;
    }
}


.move-up {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--orange);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}
